# Copyright(C) 2023-2024 Advanced Micro Devices Inc.  All Rights Reserved.

[clock]
  #clock freq adjusted for hls kernel to avoid violations.\n"
  freqHz=300000000:image_processing_1.ap_clk

[connectivity]
  sp=image_processing_1.m_axi_mm_video:DDR_AUX
  noc.read_bw=image_processing_1.m_axi_mm_video:64.64
  noc.write_bw=image_processing_1.m_axi_mm_video:64.64
